@media only screen and (min-width: 320px) {
/*body*/
body {
    margin: 0;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;
}

h2 {
    font-size: 70px;
    padding-top: 20px;
    text-align: center;
}

/*Footer*/
footer {
    background-color: #c0c0c0;
    position: relative;
    width: 105%;
    height: 200px;
    color: white;
    margin: 0;
}

footer section:nth-child(1) {
    flex: 1;
}

footer section:nth-child(2) {
    flex: 1;
}
footer section:nth-child(3) {
    flex: 1;
}

.footer_parts {
    position: relative;
    margin: 5% 0 5% 20%;
    text-align: center;
}

.footer {
    width: 800px;
    position: relative;
    display: flex;
    left: 45%;
    transform: translateX(-50%);
}

/*Navigation*/
.navigation {
    position: fixed;
    display: block;
    float: left;
    left: 40px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1200;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 15px 40px 0px;
    text-decoration: none;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    position: relative;
    letter-spacing: 0.5px;
}

.navigation .not_current {
    color: #a0a0a0;
}

.navigation .current {
    color: #ffffff;
}

ul .current li::after {
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 25px;
    z-index: 5;
}

ul .not_current li::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 25px;
    z-index: 5;
    transition: 0.3s;
}

.navigation a li:hover {
    color: #ffffff;
}

.navigation a li:hover::after {
    width: 100%;
}

.headlines {
    display: flex;
    justify-content: center;
}

.inner_headlines {
    width: 800px;
}

/* http://127.0.0.1:5500/Konzeption-Micropage/Micropage/landingpage.html#  ------- Burger Menü*/
.hamburger-menu {
    z-index: 1300 !important;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;

}

.menu__btn>span::before {
    content: '';
    top: 8px;

}

.menu__btn>span::after {
    content: '';
    top: 16px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

/*header*/

header {
    background-image: url(./Assets/foto1_big.jpg);
    width: 100%;
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*main*/
.welcome {
    text-align: center;
    padding-top: 20px;
}

.schascho {
    width: 50%;
    height: 50%;
    padding-top: 40px;
}

/*Zeitstrahl*/
#timeline-wrap {
    margin: 15% 15%;
    top: 100;
    position: relative;
}

#timeline {
    height: 1px;
    width: 100%;
    background-color: #aabbc4;
    position: relative;
}

.marker {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    position: absolute;
    margin-left: -25px;
    background-color: #999999;
    border-radius: 50%;
}

.marker:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.timeline-icon {
    background-color: #7e8aaf !important;
}

.mfirst {
    top: -25px;
}

.m2 {
    top: -25px;
    left: 25%
}

.m3 {
    top: -25px;
    left: 50%
}

.m4 {
    top: -25px;
    left: 75%
}

.mlast {
    top: -25px;
    left: 100%
}

.timeline-panel {
    margin-top: 20%;
    width: 500px;
    height: 200px;
    background-color: #cbd0df;
    border-radius: 2px;
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-panel:after {
    content: '';
    position: absolute;
    margin-top: -12%;
    left: 10%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom: 15px solid #cbd0df;
}

.hidden {
    display: none !important;
}

/*Bilderslider  https://frontendscript.com/html-slideshow-code-without-javascript/ */
* {

    list-style-type: none;

}

.thumb {
    height: 140px;
    width: 210px;
    top: 136px;
    left: 12px;
    position: relative;
    background-size: contain;

}

.thumb:last-of-type {
    box-shadow: 0 0 0 12px #000;
}

.thumb:after {
    content: attr(title);
    font: normal normal 20pt 'impact';
    position: relative;
}

.thumb:hover {
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    -ms-filter: grayscale(80%);
    -o-filter: grayscale(80%);
    filter: grayscale(80%);
    filter: url(grayscale.svg#greyscale);
    filter: gray;
}

a.prev, a.next {
    height: 91px;
    position: absolute;
    width: 43px;
    top: 38%;
    margin-top: -30px;
    opacity: 0.6;
    text-indent: -99999px;
    cursor: pointer;
}

a.prev:hover, a.next:hover {
    opacity: 1;
}

.prev {
    left: 0;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}

.next {
    right: 130px;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}

.slider {
    height: 100%;

}

.slide {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 90%;
    left: 9%;
}

.slider .slide:target {
    z-index: 100;
}

img {
    position: relative;
}

.container {
    position: relative;
    width: 100%;
    height: 850px;
    margin: 0;
}


/*box1*/
.box1 {
    width: 100%;
    height: 850px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

.box1 p {
    font-size: 30px;
}

b {
    color: rgb(98, 223, 119);
}


.picElla {
    position: absolute;
    transform: scaleX(-1);
    width: 250px;
    height: 250px;
    left: 1200px;
    z-index: 4;
    top: 100px;
}
.picPersona{
    position: absolute;
    left: 150px;
    z-index: 4;
    top: 398px;
    height: 30%;
    width: 30%;
}

.ella {
    top: 150px;
    width: 50%;
    position: absolute;
    background-color: chocolate;
    height: 500px;
}
.quote{
    position: absolute;
    width: 35%;
    height: 20%;
    background-color: #ffbe99;
    padding: 10px 0 10px 20px;
    left: 500px;
    top: 100px;
}
.listeLeft{
    position: absolute;
    left: 5%;
    top: 300px;
}
.listeRight{
    position: absolute;
    left: 5%;
    top: 400px;
}
.listeGoals{
    position: absolute;
    left: 60%;
    top: 300px;
}

.zielgruppe {
    font-size: 70px;
    text-align: center;
    position: relative;
    z-index: 20;
    padding-top: 20px;
}

.p {
    padding-left: 20px;
}

.zielgruppeBox {
    position: absolute;
    float: right;
    height: 650px;
    width: 45%;
    background-color: blanchedalmond;
    left: 800px;
    bottom: 170px;
}

.p2 {
    padding: 100px;
    padding-right: 30px;
    padding-top: 200px;
}

button {
    top: 100px;
    padding: 20px 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background-color: #e09956;
    border-style: none;
}

.box3 {
    position: relative;
    width: 50%;
    height: 850px;
    background-color: #e09956;
}

.box4 {
    position: relative;
    height: 850px;
    left: 100%;
}



.size {
    width: 60%;
    height: 70%;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.video1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Tabelle */
table {
    background-color: #e9a0ff;
    border-collapse: collapse;
    border: none;
    transform: translateX(36%);
}

td, th {
    text-align: left;
    padding: 0.5em 1em;
    font-size: 25px;
}

input {
    width: 30px;
    height: 30px;
}
#aufgabenverteilung{
    background-color: #b985e9;
}
.color{
    position: relative;
    width: 60%;
    height: 40%;
}
.room{
    position: relative;
    width: 40%;
    height: 20%;
    left: 60%;
    background-color: aqua;
    bottom: 300px;
}
.slogan{
    position: relative;
    width: 40%;
    height: 20%;
    left: 60%;
    background-color: rgb(189, 189, 189);
    bottom: 200px;
}
.comedy{
    width: 30%;
    height: 30%;
}
.comedy1{
    width: 30%;
    height: 30%;
    padding-left: 30%;
    margin-top: -380px;
}
.comedy2{
    width: 30%;
    height: 30%;
    padding-left: 60%;
    margin-top: -280px;
    padding-bottom:400px;
}
.tv{
    width: 40%;
    height: 40%;
    text-align: left;
    left: 100%;
    transform: translateX(75%);
    font-size: 20px;
}

.box2 {
    position: relative;
    width: 100%;
    margin: 0;
}
.calm{
    width: 60%;
    height: 80%;
    text-align: left;
    font-size: 20px;
    padding-left: 20%;
}
.message{
    width: 60%;
    height: 80%;
    text-align: left;
    font-size: 20px;
    padding-left: 20%;
}
}